<div class='mainheader'>

<% LocalLinks = { 'blog': 'blog/', 'projects': 'tagcloud/project+intro', 'miniprojects': 'tagcloud/miniproject', 'tagcloud': 'tagcloud/' } %>


<a href="/"> <span class="header local blacklink"> / </span> </a>

<%
for(var title in LocalLinks) {
if ( selected == title) 
{ classes = 'header local blacklink selected' } 
else
{ classes = 'header local blacklink' }
%>

<% if (key == 'public') { %>
<a href="/<%= LocalLinks[title] %>">
<% } else { %>
<a href="/<%= key %>/<%= LocalLinks[title] %>">
<% } %>
  <span class="<%= classes %>">
    <%= title %>
  </span>
</a>

<% } %>

<span class='gimmespace'>&nbsp;</span>

<a href="/article/posts/random/about.md"><span class='header external'>about</span></a>
<a href="/"><span class='header external'>contact</span></a>
<a href="https://github.com/leshy" target="_"><span class='header external'>github</span></a>
<a href="http://last.fm/user/lesh" target="_"><span class='header external'>last.fm</span></a>


</div>

