<div class='mainheader'>

<% LocalLinks = [ 'blog', 'projects', 'tagcloud' ] %>


<a href="/"> <span class="header local blacklink"> / </span> </a>

<%
for(var i=0; i<LocalLinks.length; i++) {
if ( selected == LocalLinks[i]) 
{ classes = 'header local blacklink selected' } 
else
{ classes = 'header local blacklink' }
%>


<% if (key == 'public') { %>
<a href="/<%= LocalLinks[i] %>/">
<% } else { %>
<a href="/<%= key %>/<%= LocalLinks[i] %>/">
<% } %>
  <span class="<%= classes %>">
    <%= LocalLinks[i] %>
  </span>
</a>

<% } %>

<span class='gimmespace'>&nbsp;</span>

<a href="/article/posts/random/about.md"><span class='header external'>about</span></a>
<a href="/"><span class='header external'>contact</span></a>
<a href="https://github.com/leshy" target="_"><span class='header external'>github</span></a>
<a href="http://last.fm/user/lesh" target="_"><span class='header external'>last.fm</span></a>


</div>

