<div class='mainheader'>

<% LocalLinks = { 'blog': 'blog/', 'projects': 'tagcloud/project+intro', 'miniprojects': 'tagcloud/miniproject', 'tagcloud': 'tagcloud/' } %>


<span class="mainLinks">

<span class="header local blacklink"> <a href="/">/</a> </span> 
<%
for(var title in LocalLinks) {
if ( selected == title) 
{ classes = 'header local blacklink selected' } 
else
{ classes = 'header local blacklink' }
%>

  <% if (key == 'public') { %>
  <a class="<%= classes %>" href="/<%= LocalLinks[title] %>">
  <% } else { %>
  <a class="<%= classes %>" href="/<%= key %>/<%= LocalLinks[title] %>">
  <% } %>
  <%= title %></a>
  <% } %>
</span>

<span class="gimmespace">&nbsp;</span>

<span class="smallLinks">
<a href="/article/posts/random/about.md"><span class='header external'>about</span></a>
<a href="/"><span class='header external'>contact</span></a>
<a href="https://github.com/leshy" target="_"><span class='header external'>github</span></a>
<a href="https://secure.flickr.com/photos/leshx/" target="_"><span class='header external'>flickr</span></a>
<a href="/loc/" target="_"><span class='header external'>where am I?</span></a>
</span>
</div>

