<div class='blogpost'>
  <div class='header'>
    <a href='/article/<%= post.link %>'><span class='title'><%= post.title %></span></a>
    <% if (post.tags.length > 0) { %>
    <span class='tags'>
    <% for(var i=0; i<post.tags.length; i++) { %>
            <a href='/tagcloud/<%= post.tags[i] %>'><%= post.tags[i] %></a><% if (post.tags.length - 1 > i) { %>,<% } %>
            
    <% } %>
    </span>
    <% } %>

    <span class='date'>
    <span class='full'><%=: new Date(post.created)%>,</span>
    <span class='pretty'><%=: new Date(post.created) | prettyDate %></span>
    </span>
  </div>
  <div class='body'>
    <%- post.body %>
  </div>
</div>
