<% layout('layout') -%>
<%-partial('header') -%>


<div class='tagcloud'>

  <div class='header'>
    <span class='title'>
      <% if (currenturl) { %>
      <span class="minititle">selected tags:</span> <%=currenturl%>
      <% } %>
    </span>
  </div>

  <% if (!helpers.isEmpty(tags)) { %>
  <div class='body'>
    <% for(var tag in tags) { %>
    <span class='tag' style='font-size:<%=tags[tag]%>em'>
      <a href="<%=currenturl%>+<%=tag%>"><%=tag%></a><a href="<%=currenturl%>-<%=tag%>"> <font color="#bb0000">-</font></a>
    </span>
    <% } %>
  </div>
  <% } %>
</div>



<%-partial('posts')%>



