<div class="galleria gallery_<%= tag %>">
Flickr tag <a href="https://secure.flickr.com/search/?q=<%= tag %>"><%= tag %> will be displayed here, if you have javascript.
</div>

<script type="text/javascript">
    var tag = "<%= tag %>"
    var flickr = new Galleria.Flickr();
    flickr.setOptions({
        thumbSize: 'thumb',
        imageSize: 'medium',
        sort: 'date-taken-asc'
    })

    flickr.tags(tag, function(data) {
        Galleria.run('.gallery_<%= tag %>', {
            dataSource: data
        });
    });
</script>
